# Set default behavior for line endings
* text=auto eol=lf

# Define diff attributes for specific file types
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Mark specific files and directories to be ignored during export
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
